.contact{

    width:100%;

    text-align:center;

}


.contact > p{

    margin-bottom:35px;

}


.contact-form{

    max-width:600px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:20px;

}


.contact-form input,

.contact-form textarea{


    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:white;

    font-size:16px;

    outline:none;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}


.contact-form textarea{

    resize:none;

}


.contact-form button{

    padding:15px;

    background:#7b5d52;

    color:white;

    border-radius:10px;

    font-size:16px;

    transition:.3s;

}


.contact-form button:hover{

    background:#5e463d;

}


.success{

    margin-top:25px;

    color:green;

    font-weight:bold;

}