
.contact h2 {
    margin-bottom: 15px;
}

.contact p {
    margin-bottom: 35px;
}

.contact-icons {
    display: flex;
    justify-content:right;
    gap: 35px;
}

.contact-icons a {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #B8156E;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    transition: .3s;

}
.contact-icons a:hover {
    transform: translateY(-8px);
    background: #B8156E;
    color: white;

}

 .contact {
    display: flex;
    align-items: center;
    gap: 50px;
}


.contact-text span {
    color: #B8156E;
    font-weight: bold;
    font-size: 14px;
}

.contact-text h2 {
    color: white;
    font-size: 26px;
    margin: 20px 0;
}

.linha {
    width: 1px;
    height: 250px;
    background-color:#B8156E;
}
