.navbar{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a{
    text-decoration: none;
    color: #5d4b46;
    font-weight: 600;
    transition: .3s;
}

.nav-links a:hover{
    color: #d96b9b;
}

.btn-contato{
    text-decoration: none;
    background: linear-gradient(135deg,#ff7eb6,#ff9cc7);
    color: white;
    padding: 12px 24px;
    border-radius: 999px;
    font-weight: 600;
    transition: .3s;
}

.btn-contato:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(255,126,182,.35);
}

@media (max-width:768px){

    .navbar{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        height: auto;
        padding: 20px 0;
    }

    .nav-links{
        gap: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.btn-contato{
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-contato svg{
    font-size: 15px;
}