* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background:#0b0b0f;
    color:#0b0b0f;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

img {
    max-width: 100%;
    display: block;
}

section{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

p {
    line-height: 1.7;
}